@font-face {
  font-family: Quicksand;
  src: url(/bitLieferando/assets/fonts/Quicksand-Light.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(/bitLieferando/assets/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: RalewayBold;
  src: url(/bitLieferando/assets/fonts/Raleway-Bold.ttf);
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Raleway, sans-serif;
}

h1 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 40px;
  font-family: RalewayBold, sans-serif;
}

.example::-webkit-scrollbar {
  display: none;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-select:focus {
  outline: none !important;
}

.container {
  display: flex;
  position: relative;
  min-height: 100vh;
  background-color: rgb(232, 232, 232);
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
  position: sticky;
  z-index: 300;
  top: 0;
  background-color: #ffffff;
  height: 70px;
  border-bottom: 0.1px solid rgb(143, 135, 135, 0.2);
  display: flex;
  justify-content: center;
}

.nav-content {
  width: 100%;
  max-width: 960px;
  display: flex;
  align-items: center;
}

.nav-links {
  text-decoration: none;
  color: black;
  padding: 8px;
  border-radius: 20px;
  font-weight: bold;
  margin-right: 16px;
}

.nav-links-fav {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 20px;
  font-weight: bold;
  margin-right: 16px;
  background-color: black;
}

.nav-links-fav:hover {
  background-color: #202020;
}

.nav-links:hover {
  background-color: #e8e8e8;
}

.title-section {
  background-color: #ffffff;
  width: 100%;
}

.title-content {
  width: 100%;
  max-width: 960px;
}

.title-element {
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.title-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.title-profile {
  position: absolute;
  top: 320px;
  width: 90px;
  padding: 10px;
  aspect-ratio: 1/1;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  border-bottom: 0.5px solid rgba(114, 109, 109, 0.2);
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.rating-img {
  width: 24px;
  margin-right: 6px;
}

.bag {
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-right: 11px;
}

.bag-img {
  width: 16px;
  margin-right: 6px;
}

.bike {
  display: flex;
  align-items: center;
}

.bike-img {
  width: 20px;
  margin-right: 6px;
}

.bike-text {
  color: rgb(11, 157, 113);
}

.dish-img {
  width: 100%;
  max-width: 960px;
  height: 300px;
  object-fit: cover;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dish-section {
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dish-element {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: antiquewhite;
}

.dish-menu {
  position: relative;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  padding: 12px;
  margin: 16px 0px 16px 0px;
  border-radius: 15px;
  border: 1px solid #c9c9c9;
  cursor: pointer;
}

.dish-menu:hover {
  background-color: #e2e2e2;
}

.dish-menu-title {
  font-weight: bold;
}

.dish-menu-desc {
  font-size: 0.8rem;
}

.dish-menu-price {
  font-weight: bold;
}

.dish-menu-add {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 40px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e2e2e2;
}

.calc-content {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 300;
  width: 400px;
  height: 100vh;
  background-color: #ffffff;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.d-none {
  display: none;
}

.row {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 480px) {
}
